[Unit]
Description=Raspberry Pi Tank Control App

After=network.target

StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/tank

Restart=always

RestartSec=10s

User=tank
Group=tank

SupplementaryGroups=video

ExecStartPre=/usr/local/bin/tankmotor_load.sh
ExecStartPre=/bin/sleep 10
ExecStart=/home/tank/device_app 192.168.137.1 25000

[Install]
WantedBy=multi-user.target